@charset "utf-8";

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
    font-family: "微软雅黑";
    box-sizing: border-box;
}

fieldset,
img {
    border: 0;
}

ul,
ol,
li {
    list-style: none;
    font-family: '微软雅黑';
}


/* remember to define focus styles! /*/

:focus {
    outline: 0;
}

b,
i,
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var,
optgroup {
    font-style: normal;
    font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

abbr,
acronym {
    border: 0;
    font-variant: normal;
}

input,
button,
textarea,
select,
optgroup,
option {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: normal;
    background-color: #fff;
    border: none;
}

code,
kbd,
samp,
tt {
    font-size: 100%;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

input,
button,
textarea {
    *font-size: 100%;
}

ol,
ul {
    list-style: none;
}

img {
    vertical-align: middle;
}

table,
tr,
td {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0;
    padding: 0;
}

caption,
th {
    text-align: left;
}

sup,
sub {
    font-size: 100%;
    vertical-align: baseline;
}

.fr {
    float: right;
}

.fl {
    float: left;
}

.ehn,
.otw,
.tow {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.clearfix {
    clear: both;
    zoom: 1;
}

.clearfix:after {
    display: block;
    clear: both;
    content: "\0020";
    visibility: hidden;
    height: 0;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

html,
body {
    height: 100%;
}