<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
    <link href="./css/pretty.css" rel="stylesheet">
    <link rel="stylesheet" href="./css/style.css">
    <!--静态引入cesium1.76-->
    <link rel="stylesheet" href="./js/cesium1.76/Widgets/widgets.css">
    <script src="./js/cesium1.76/Cesium.js"></script>
    <link rel="stylesheet" href="./js/cesium1.76/das3d/das3d-src.css"/>
    <script src="./js/cesium1.76/das3d/das3d-src.js"></script>
    <script type="text/javascript" src="./js/map3D.js"></script>
</head>
<style>
    html,
    body,
    #cesiumContainer {
        height: 100%;
        overflow: hidden;
        margin: 0;
        padding: 0;
    }

    #sectionChars {
        width: 60%;
        height: 20%;
        display: none;
        margin: 0 auto;
        position: fixed;
        bottom: 100px;
        left: 20%;
        z-index: 10000;
    }
</style>
<body>
<noscript>
    <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled.
        Please enable it to continue.</strong>
</noscript>

<div>
    <div id="cesiumContainer">
        <div id="sectionChars" class="infoview sectionChars">
            <div id="echartsView1" style="width: 100%; height: 100%"></div>
        </div>
    </div>
    <script>
        map3D.initMap();
    </script>
</div>
<!-- built files will be auto injected -->
</body>

</html>